<div class="container">

  <div class="alert alert-success" role="alert" [hidden]="!adicionado">
  <strong> Código Gerado com sucesso! </strong>
  </div>

  <h1>Prova Social</h1>

  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label>Quantidade de Comentários Masculinos</label>
        <input type="text" class="form-control" value="0" [(ngModel)]="qtdMasc"
            (focus)="adicionado = false">
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label>Quantidade de Comentários Femininos</label>
        <input type="text" class="form-control" value="0" [(ngModel)]="qtdFem"
          (focus)="adicionado = false">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label>Quantidade de Respostas</label>
        <input type="text" class="form-control" value="0" [(ngModel)]="qtdResp"
          (focus)="adicionado = false">
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label>Quantidade de Curtidas (distribuídas)</label>
        <input type="text" class="form-control" value="0" [(ngModel)]="qtdCurt"
          (focus)="adicionado = false">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <label>Nome do Produto</label>
        <input type="text" class="form-control" value="" [(ngModel)]="produto"
           (focus)="adicionado = false">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label>Permitir usuário enviar comentários?</label>
      <select class="form-select mb-3" [(ngModel)]="pComentarios">
        <option value="1">Sim</option>
        <option selected value="0">Não</option>
      </select>
    </div>
    <div class="col-6">
      <label>Permitir usuário curtir comentários?</label>
      <select class="form-select mb-3" [(ngModel)]="pCurtidas">
        <option value="1">Sim</option>
        <option selected value="0">Não</option>
      </select>
    </div>
  </div>
  <p>
    <button type="button" class="btn btn-primary"
      (click)="adicionar()" [disabled]="(qtdMasc == 0) && (qtdFem == 0)">Gerar Visualização e Código</button>
    <button type="button" class="btn btn-primary" style="margin-left: 5px;"
    onClick="window.location.reload()" (click)="temComentario = false">Limpar</button>
  </p>
</div>
<div class="container">
  <div>
    <p> </p>
  </div>
</div>
