.comment-container {
    width: max-content;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width: 98%;
  }

  .comment-row:hover .comment-options {
    display: block;
  }

  .avatar, .response-avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
  }

  .response-avatar {
    width: 24px !important;
    height: 24px !important;
  }

  .comment-options {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    right: -30px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 100%;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  * {
    font-family: 'Roboto', sans-serif;
  }

  .comment-options:active, .comment-options:focus {
    background: #e4e4e4 !important;
  }

  .comment-options:hover {
    background: #f0f2f5;
  }

  .comment-row {
    margin: auto;
  }

  .comment-content {
    width: max-content;
    min-height: 50px;
    height: auto;
    background: rgb(240, 242, 245);
    border-radius: 15px;
    margin-left: 1%;
    max-width: 100vh;
    position: relative;
  }

  .profile-name {
    font-weight: 600;
    font-size: .8125rem;
    margin-top: 10px;
  }

  .profile-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .comment {
    margin-left: 10px;
    width: 98%;
    font-weight: normal;
    font-size: .9375rem;
    position: relative;
  }

  .comment-textarea {
    margin-top: -10px;
    padding-right: 10px;
  }

  .actions>p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .actions>p {
    color: #919398;
    font-size: 11px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .actions {
    display: inline-flex;
    align-items: center;
    margin-left: 35px;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  .action-divider {
    width: 2px;
    height: 2px;
    background: #919398;
    border-radius: 100%;
  }

  .like-counter {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    background: white;
    width: max-content;
    border-radius: 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 30px;
    padding: 5px;
    position: absolute;
    bottom: -15px;
    right: 0;
    color: #65676B;
    font-weight: 400;
    cursor: pointer;
  }

  .like-counter > img {
    padding-right: 5px;
  }

  .blue-like {
    color: rgb(32, 120, 244) !important;
  }

  .user-comment-space {
    border-radius: 18px;
    background: #f0f2f5;
    padding: 10px 15px 10px 15px;
    width: 100%;
    position: relative;
  }

  .user-comment-space > textarea {
    overflow: hidden;
    resize: none;
    width: 93%;
    color: #050505;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .emoji-container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .user-comment-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #8f959c;
    font-size: 15px;
  }

  .user-comment-button:hover {
    background: #e4e6e9;
  }

  ::placeholder {
    color: #8f959c;
    font-weight: lighter;
  }

  emoji-picker {
    position: absolute;
    top: -51vh;
    right: 0;
  }

  @media (max-width: 1024px)
  {
    emoji-picker {
      top: -60vh;
    }
  }

  .user-is-commenting {
    display: inline-flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #8f8f8f;
    font-weight: 600;
    font-size: 13px;
  }

  .user-is-commenting > img {
    width: 30px;
    margin-right: 10px;
  }

  #closed-comments {
    width: max-content;
    background: #a42a2a;
    padding: 5px;
    border-radius: 6px;
    color: white;
    margin: auto;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: not-allowed;
  }